#quick
  position: relative
  padding-bottom: .125rem

#quick li.percent
  position: absolute
  left: 0
  bottom: 0
  height: .125rem
  min-height: .125rem
  pointer-events: none
  transition: none !important
